@font-face {
    font-family: orange_kid;
    src: url(/font/orange_kid.ttf);
}

@font-face {
    font-family: Gbboot;
    src: url(/font/Gbboot-ALpM.ttf);
}

@keyframes player-attack {

    50% {
        transform: translate(100px, -20px);
    }
}

@keyframes enemy-attack {

    50% {
        transform: translate(-80px, 15px);
    }
}

@keyframes take-damage {
    50% {
        opacity: 0;
    }
}

@keyframes swap-out {
    100% {
        object-fit: cover;
        object-position: 0 -2000%;
    }
}

@keyframes swap-in {
    0% {
        object-fit: cover;
        object-position: 0 -2000%;
    }
    100% {
        object-fit: cover;
        object-position: 0 0;
    }
}

.log p {
    font-size: 1vw;
}


.announcer {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 33%;
    width:auto;
    background-color:#A45D5D;
    font-size:3vw;
    letter-spacing: 0.05em;
    border: 1vw solid #FFC069;
}

.player-monster-img.player-attack {

    animation-duration: 0.3s;
    animation-name: player-attack;
    animation-timing-function: ease-out;
}

.enemy-monster-img.enemy-attack {
    animation-duration: 0.3s;
    animation-name: enemy-attack;
    animation-timing-function: ease-out;
}

.take-damage {
    animation-delay: 0.3s;
    animation-duration: 0.2s;
    animation-name: take-damage;
    animation-iteration-count: 3;
}

.take-damage {
    animation-delay: 0.3s;
    animation-duration: 0.2s;
    animation-name: take-damage;
    animation-iteration-count: 3;
}

.swap-out {
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-name: swap-out;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transition-duration: 0.5s;
}

.swap-in {
    animation-duration: 0.5s;
    animation-name: swap-in;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


.player-monster-img {
    height: 230px;
    width: 486px;
}



body {
    font-family: orange_kid;
    color: #f4f4f4;
    text-shadow: 2px 2px #6e6e6e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #949494;
}


.navBar {
    margin: 0;
    display: flex;
}

.start-display {
    background-color:#ce9c85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    width: 1200px;
    border: 10px double black;
    border-radius: 10px;
}

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 128px;
    background-color:#f7c4a5;
    border: 3px double black;
    border-radius: 10px;
    box-shadow: 5px 3px 3px
}

.battle-display {
    display: none;
    flex-direction: column;
    justify-content: center;
    height:80vh;
    min-height: 80vh;
    width: 70vw;
    border: 10px solid #FFC069     ;
    background-color: #66959b;
    border-radius: 10px;
    padding: 30px 20px;
    gap:20px;
    box-shadow: 5px 3px 3px #6e6e6e;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width:auto;
    border: 10px solid #FFC069 ;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #6e6e6e;
    z-index: 0;
    background-image: url(/images/monsters/screenbackground.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.enemy-space {
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-start;
    background-color: #f4f4f4 transparent;
    padding-top: 10px;
    padding-right: 20px;
    gap: 20px;
    border-radius: 0;

}

.player-space {
    height: 50%;
    display: flex;
    justify-content: flex-start;
    background-color: #f4f4f4 transparent;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 20px;
    border-radius: 0;

}

.player-monster-info {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 5px;
}

.enemy-monster-info {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
   }

.monster-name {
    text-transform: uppercase;
    font-size: 4vw;
    margin: 0;
    color: black;
}

.player-monster {
    display: flex;
    justify-content: center;
    align-items: center;
}



.health-bar {
    height: 5px;
    width: 100%;
    background-color: green;
    transition-duration: 1s;
}

.action-bar {
    display: flex;
    justify-content: center;
    align-items:stretch;
    height: 35%;
    max-height: 35%;
    gap: 20px;
}


.log {
    width: 50%;
    height: 90%;
    max-height: 90%;
    border: 1vw solid #FFC069;
    background-color: #A45D5D;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #6e6e6e;
    overflow: overlay;
    
}

.log p {
    margin-left: 10px;
}


.switch-menu {
    display: none;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-size: 52px;
}

.action-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 20px;
    font-size: 52px;
    font-weight: 100;
}

.moves-menu {
    display: none;
    width: 50%;
    height: 100%;
    font-size: 52px;
    gap: 30px;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 20%;
    font-size: 3vw;
    border: 1vw solid #FFC069;
    background-color: #A45D5D;
    box-shadow: 5px 3px 3px #6e6e6e;
    cursor:pointer;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transition: 0.3s;
    /* transform: translate3d(-4px, -4px, 0); */
}

.button:hover {
    transform: translate3d(-4px, -4px, 0);
    box-shadow: 7px 5px 3px #6e6e6e;

}

.switch-button{

    height: 128px;
    width: 128px;
    background-color: #4b7d8a;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    gap: 10px
}

.column div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row {
 display: flex;
 justify-content: space-evenly;
 align-items: center; 
  
}

.row div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.action-menu div {
    height: 100%;
    width: 90%;
    border-radius: 10px;
    
}

.moves-menu  div {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}

.switch-menu div {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: medium;
}

.invisible {
    display: none;
}

